.exp-details {
	background-color: white;
	width: 750px;
	border-radius: 12px;
	overflow: hidden;
	margin-top: 3rem;
	margin-left: 17rem;
	box-shadow: rgb(0 0 0 / 24%) 1px 2px 13px;
	padding: 10px;
	padding-bottom: 30px;
}
.exp-details h1 {
	text-align: center;
}
.exp-company {
	clear: both;
}
.exp-company .exp-exceed {
	float: left;
}
.exp-company .yrs {
	float: right;
}
.exp-company-name {
	display: flex;
	flex-direction: column;
}
.exp-exceed h2::first-letter {
	color: #eb2d56;
}
.personal_info {
	clear: both;
}
.personal_info .contact-no-mine {
	float: right;
	margin-left: 3rem;
}
.personal_info .email-id{
	margin-left: 3rem;
	float: left;
}