.exp-details{
    height: 16%;
    margin: 100px;
    padding: 50px;
}
hr{
    width: 12%;
    margin-bottom: 50px;
}
hr.hr{
    border: 1px solid gold;
    border-radius: 5px;
}
.exp-company{
    font-family: Poppins,sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    overflow: hidden;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}
.exp-company-name{
    font-size: 27px;
    font-weight: 400;
    position: relative;
    top: 20px;
    display: flex;
    justify-content: center;
}

.AiOutlineForward{
    color: #41c9ff;  
    font-size: larger;
}
.information{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 550px;
    padding: 15px;
    border-radius: 10px;
}



@media(max-Width:1000px){
    .about-margin-item{
        margin: 10px;
    }
}
@media(max-Width:1000px){
    .exp-company{
        font-size: 2rem;
        text-align: center;
    }
    .exp-company-name{
        font-size: 1.7rem;
        text-align: center;
    }
	.exp-role{
        font-size: 15px;
    }

}
@media(max-Width:500px){
    .exp-company{
        font-size: 1.5rem;
    }
    .exp-company-name{
        font-size: 1.2rem;
        text-align: center;
    }
	.exp-role{
        font-size: 12px;
    }

}